{% extends "birddb/bird_base.html" %}
{% load static %}
{% block birdbanner %}
<h1 class="top-center">Help us identify new birds!</h1>
{% endblock %}
{% block birderror %}
<noscript>
    <i class="bird-error-no-js">Please enable JavaScript to submit an error report</i>
</noscript>
<form class="bird-error" action="{% url 'birddb:bird_poll' bird.id %}" method="post" target="dummy" style="display: none;">
    {% csrf_token %}
    <span>The color of the bird is:</span>
    <div>
        <select name="color" required>
            <option value="" selected disabled>---</option>
            {% for color in COLOR_NAMES %}
            <option value="{{ color }}">{{ color }}</option>
            {% endfor %}
        </select>
    </div>
    <div><input type="submit" class="bird-error-submit"></div>
</form>
<i class="bird-error-thanks bird-error-center" style="display: none;">Thanks for contributing!</i>
{% endblock %}
{% block birdempty %}
<div><h1>Success! No partial birds found!</h1></div>
<div><img src="{% static 'birddb/birdhappy.png' %}" alt="Success!" class="bird-img"></div>
{% endblock %}
{% block birdscript %}
<script src="{% static 'birddb/partial.min.js' %}"></script>
{% endblock %}