{% extends "birddb/bird_base.html" %}
{% load static %}
{% block birderror %}
<div class="bird-error-container">
    <div class="bird-error-top">
        <div class="bird-error-center">We currently think the bird's color is: <b>{{ bird.get_color }}</b></div>
    </div>
    <div class="bird-error-bottom">
        <div class="bird-error-center"><div class="bird-error-report" style="display: none;"><a>Report an Error</a></div></div>
        <form class="bird-error" action="{% url 'birddb:bird_poll' bird.id %}" method="post" style="display: none;">
            {% csrf_token %}
            <span>But in reality it's actually:</span>
            <div>
                <select name="color" required>
                    <option value="" selected disabled>---</option>
                    {% for color in COLOR_NAMES %}
                    <option value="{{ color }}">{{ color }}</option>
                    {% endfor %}
                </select>
            </div>
            <div><input type="submit" class="bird-error-submit"></div>
        </form>
        <i class="bird-error-thanks bird-error-center" style="display: none;">Thanks for contributing!</i>
    </div>
</div>
{% endblock %}
{% block birdempty %}
<h1>Hmmm. We couldn't find any birds at that location.</h1>
<img src="{% static 'birddb/hmmbird.png' %}" class="bird-img">
<div><a href="/"><h2 class="bird-error-report in-block">Try again?</h2></a></div>
{% endblock %}
{% block birdscript %}
<script src="{% static 'birddb/full.min.js' %}"></script>
{% endblock %}