html, body, .main, .bird-table {
    height: 100%;
}

body {
    font-family: "Nunito", sans-serif;
    margin: 0em;
}

.top-center {
    text-align: center;
    background-color: #FF7F50;
    padding: 1em 1em;
    margin: 0em;
}

.main {
    margin: 0 5%;
    margin-top: 3.5em;
}

.main div {
    text-align: center;
}

.header-bar {
    background-color: #FFFF66;
    position: fixed;
    top: 0em;
    width: 100%;
}

.header-bar ul {
    display: table;
    list-style-type: none;
    height: 1px;
    margin: 0% 5%;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
}

.header-bar ul li {
    display: table-cell;
    vertical-align: middle;
}

.header-bar ul li:nth-child(n+4) a {
    padding: .5em .5em;
}

.header-bar ul li:nth-child(n+4):hover {
    background-color: #f2f200;
}

.header-bar ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

.header-bar ul li a:visited {
    color: inherit;
}

.header-bar ul li a:hover {
    color: #6A5ACD;
}

.header-bar-empty {
    width: 4.9em;
}

.header-bar-bottom {
    display: table-cell;
    vertical-align: bottom !important;
}

.title {
    font-size: 2.5em !important;
}


.bird-table {
    display: table;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

.bird-entry {
    display: table-row;
    background-color: #ADD8E6;
}

.bird-entry:nth-child(even) {
    background-color: #D3D3D3;
}

.bird-entry td {
    display: table-cell;
    padding: .5em 1em;
}

.bird-entry td:nth-child(even) {
    background-color: #B0E0E6;
}

.bird-entry:nth-child(even) td:nth-child(even){
    background-color: #DCDCDC;
}

.bird-img {
    display: block;
    height: 10em;
    margin-left: auto;
    margin-right: auto;
}

.bird-call {
    display: block;
    height: 10em;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    background-size: 100%;
    background-color: inherit;
}

.audio-play {
    background-image: url("audioplay.png");
    cursor: pointer;
}

.audio-stop {
    background-image: url("audiostop.png");
    cursor: pointer;
}

.bird-entry .bird-error-cell {
    padding: .4em .8em;
}

.bird-error {
    margin: 0em;
}

.bird-error div, .bird-error div select {
    display: block;
    margin: 0 auto;
}

.bird-error div {
    margin-bottom: .6em;
}

.bird-error-top, .bird-error-bottom {
    height: 50%;
    width: 100%;
    display: table;
}

.bird-error-center {
    display: table-cell;
    vertical-align: middle;
}

.bird-error-thanks {
    font-size: .9em;
}

.bird-error-report {
    color: black;
    text-align: center;
    text-decoration: none;
    background-color: #B0C4DE;
    border: none;
    border-radius: .1em;
    cursor: pointer;
    padding: .1em .5em;
}