body {
    font-family: "Nunito", sans-serif;
    margin: 0rem;
}

a {
    color: black;
}

a:visited {
    color: inherit;
}

.main {
    margin: 0% auto;
    margin-top: 3.4rem;
    margin-bottom: 3rem;
    text-align: center;
    max-width: 70rem;
}

.main div {
    text-align: center;
}

.header-bar-container {
    background-color: #FFFF66;
    position: fixed;
    top: 0rem;
    width: 100%;
}

.header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0% 5%;
}

.header-bar-tables {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;
}

.header-bar-tables ul {
    display: flex;
    list-style-type: none;
    margin: 0rem;
    padding: 0rem;
}

.header-bar-tables ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.header-bar-tables .header-bar-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header-bar-menu li a {
    display: flex;
    height: 100%;
    text-align: center;
    justify-content: center;
    padding: 0rem 0.75rem;
}

.header-bar-menu li a div {
    margin: auto 0rem;
}

.header-bar-menu li:hover {
    background-color: #f2f200;
}

.header-bar-tables ul li:hover a {
    color: #6A5ACD;
}

.header-bar-empty {
    width: 4.9rem;
}

.header-bar-bottom {
    margin-top: auto;
}

.title {
    font-size: 2.5rem !important;
}

.header-bar-icon {
    display: none;
    cursor: pointer;
}

#header-bar-dynamic {
    display: none;
}

@media only screen and (max-width: 1030px) {
    html {
        font-size: 10px;
    }

    .main {
        margin-top: 4.1rem;
    }

    .title {
        font-size: 3rem !important;
    }

    .header-bar-tables .header-bar-menu {
        display: none;
    }

    .header-bar-icon {
        display: flex;
        align-items: center;
        float: right;
        margin-right: 5%;
        font-size: 2rem;
    }

    #header-bar-dynamic:checked + .header-bar-menu {
        display: block;
        position: absolute;
        right: 4rem;
        top: 4.1rem;
        background-color: #FFFF66;
    }

    #header-bar-dynamic:checked + .header-bar-menu li {
        border: 1px solid black;
        border-bottom-width: 0px;
    }

    #header-bar-dynamic:checked + .header-bar-menu li:last-child {
        border-bottom-width: 1px;
    }

    #header-bar-dynamic:checked + .header-bar-menu li a div{
        font-size: 3rem;
    }
}