body {
    font-family: "Nunito", sans-serif;
    margin: 0em;
}

.top-margin {
    padding-top: 1em;
    text-align: center;
}

.top-center {
    text-align: center;
    background-color: #FF7F50;
    padding: 1em 1em;
    margin: 0em;
}

.bird-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main {
    margin: 0 5%;
    margin-top: 3.5em;
}

.main div {
    text-align: center;
}

.header-bar {
    background-color: #FFFF66;
    position: fixed;
    top: 0em;
    width: 100%;
}

.header-bar ul {
    display: table;
    list-style-type: none;
    height: 1px;
    margin: 0% 5%;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
}

.header-bar ul li {
    display: table-cell;
    vertical-align: middle;
}

.header-bar ul li:nth-child(n+4) a {
    padding: .5em .5em;
}

.header-bar ul li:nth-child(n+4):hover {
    background-color: #f2f200;
}

.header-bar ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

.header-bar ul li a:visited {
    color: inherit;
}

.header-bar ul li a:hover {
    color: #6A5ACD;
}

.header-bar-empty {
    width: 4.9em;
}

.header-bar-bottom {
    display: table-cell;
    vertical-align: bottom !important;
}

.title {
    font-size: 2.5em !important;
}