html {
    width: 100%;
}

body {
    font-family: "Nunito", sans-serif;
    margin: 0rem;
}

p {
    margin: 0rem;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: inherit;
}

.in-block {
    display: inline-block;
}

.top-center {
    text-align: center;
    background-color: #FF7F50;
    padding: 1rem 1rem;
    margin: 0rem;
}

.main {
    margin: 0 5%;
    margin-top: 3.4rem;
    text-align: center;
}

.main div {
    text-align: center;
}

.header-bar {
    background-color: #FFFF66;
    position: fixed;
    top: 0rem;
    width: 100vw;
}

.header-bar ul {
    display: table;
    list-style-type: none;
    height: 1px;
    margin: 0% 5%;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
}

.header-bar ul li {
    display: table-cell;
    vertical-align: middle;
}

.header-bar ul li:nth-child(n+4) a {
    padding: .5rem .5rem;
}

.header-bar ul li:nth-child(n+4):hover {
    background-color: #f2f200;
}

.header-bar ul li a {
    display: block;
    text-align: center;
    color: black;
    font-size: 1.5rem;
}

.header-bar ul li a:hover {
    color: #6A5ACD;
}

.header-bar-empty {
    width: 4.9rem;
}

.header-bar-bottom {
    display: table-cell;
    vertical-align: bottom !important;
}

.title {
    font-size: 2.5rem !important;
}

.bird-table-container {
    overflow-x: auto;
}

.bird-table {
    display: table;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

.bird-entry {
    display: table-row;
    background-color: #ADD8E6;
}

.bird-entry:nth-child(even) {
    background-color: #D3D3D3;
}

.bird-entry td {
    display: table-cell;
    padding: .5rem 1rem;
}

.bird-entry td:nth-child(even) {
    background-color: #B0E0E6;
}

.bird-entry:nth-child(even) td:nth-child(even){
    background-color: #DCDCDC;
}

.bird-img-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bird-img {
    height: 10rem;
}

.bird-img-huge {
    height: 30rem;
}

.citation {
    display: block;
    font-size: .75rem;
}

.citation-author { 
    text-align: left !important;
}

.citation-license {
    text-align: right !important;
}

.citation a {
    text-decoration: underline;
}

.bird-call {
    display: block;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    background-size: 100%;
    background-color: inherit;
}

.audio-play {
    background-image: url("audioplay.png");
    cursor: pointer;
}

.audio-stop {
    background-image: url("audiostop.png");
    cursor: pointer;
}

.bird-entry .bird-error-cell {
    padding: 0rem .8rem;
    min-width: 7rem;
    height: 15rem;
}

.bird-table, .bird-entry, .bird-error-cell, .bird-error-container {
    height: 100%;
}

.bird-error {
    margin: 0rem;
}

.bird-error div, .bird-error div select {
    display: block;
    margin: 0 auto;
}

.bird-error div {
    margin-top: .5rem;
}

.bird-error-top, .bird-error-bottom {
    height: 50%;
    width: 100%;
    display: table;
}

.bird-error-center {
    display: table-cell;
    vertical-align: middle;
}

.bird-error-thanks {
    font-size: .9rem;
}

.bird-error-report {
    color: black;
    text-align: center;
    text-decoration: none;
    background-color: #B0C4DE;
    border: none;
    border-radius: .1rem;
    cursor: pointer;
    padding: .1rem .5rem;
}

.bird-error-report:hover {
    background-color: #739BCE;
}

.top-margin {
    padding: 2rem 0rem;
}

@media only screen and (max-width: 812px) {
    html {
        font-size: 10px;
    }
}