{% extends "front/base.html" %}
{% load static %}
{% block head-content %}
<link rel="stylesheet" type="text/css" href="{% static 'front/style.min.css' %}">
{% endblock %}
{% block main-content %}
<h3>Made for my 2018 CSUS Senior Project</h3>
<h4>Powered by
    <a href="https://ebird.org/home" target="_blank">eBird</a>,
    <a href="https://photon.komoot.de/" target="_blank">photon</a>,
    <a href="https://www.mbr-pwrc.usgs.gov/id/framlst/framlst.html" target="_blank">USGS</a>,
    <a href="https://www.wikipedia.org/" target="_blank">Wikipedia</a>, and
    <a href="https://www.xeno-canto.org/" target="_blank">xeno-canto</a>.
</h4>
<div>
    <p class="about-text">
        This website is to help <i>identify</i> birds, not <i>search</i> for them.<br>
        If you want to find more data on a specific bird, I recommend <a href="https://www.allaboutbirds.org/">All About Birds</a>.<br>

    </p>
</div>
<img src="{% static 'front/smilebird.png' %}" alt="What an about page!" class="center-img">
<h4 class="no-bottom">
    <a href="https://github.com/wileyyugioh/birddb" target="_blank">Github</a>
</h4>
<h4 class="no-bottom">
    <a href="{% url 'front:legal' %}">Legal</a>
</h4>
{% endblock %}