{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Birddb</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'front/basestyle.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'front/css/fontello.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        {% block head-content %}{% endblock %}
        <noscript>
            <style>
                .hide-no-js {display: none;}
            </style>
        </noscript>
    </head>

    <body>
        <div class="header-bar-container">
            <div class="header-bar">
                <div class="header-bar-tables">
                    <ul>
                        <li><a class="title" href="{% url 'front:index' %}">Birdb</a></li>
                        <li class="header-bar-bottom">by wiley y.</li>
                        <li class="header-bar-empty"></li>
                    </ul>
                    <input type="checkbox" id="header-bar-dynamic">
                    <ul class="header-bar-menu">
                        <li><a href="{% url 'birddb:bird_partial' %}"><div>Contribute</div></a></li>
                        <li><a href="{% url 'front:about' %}"><div>About</div></a></li>
                    </ul>
                </div>
                <label for="header-bar-dynamic" class="header-bar-icon"><i class="icon-menu"></i></label>
            </div>
        </div>
        <div class="main">
            {% block main-content %}{% endblock %}
        </div>
    </body>
</html>