{% extends "front/base.html" %}
{% load static %}
{% block head-content %}
<link rel="stylesheet" type="text/css" href="{% static 'front/style.min.css' %}">
{% endblock %}
{% block main-content %}
<div>
    <img class="center-img" src="{% static 'front/birdgreet.jpg' %}" alt="Greetings!">
</div>
    <div class="location-bar">
        <label>
            <input type="radio" name="search-type" value="latlon" id="latlon" checked="checked"><span class="round">Coordinates</span>
        </label>
        <label class="hide-no-js">
            <input type="radio" name="search-type" value="search" id="search" disabled><span class="round">Search</span>
        </label>
    </div>
<form id="bird-form" class="bird-form" action="{% url 'birddb:bird_ranks' %}" method="get">
    <div class="form-text">
        <input type="text" id="form-lat" name="lat" placeholder="Lat." maxlength="10" autocomplete="off" required>
        <input type="text" id="form-lon" name="lon" placeholder="Lon." maxlength="10" autocomplete="off" required>
    </div>
    <div class="form-text form-search hide-no-js">
        <input type="text" id="form-search" placeholder="Search for a location" maxlength="40" autocomplete="off">
        <div id="dropdown" class="dropdown-container"></div>
    </div>
    <h2>Color</h2>
    <div class="color-bar radio-bar">
        <label><input type="radio" name="color" value="red" required><span class="round red-input"></span></label>
        <label><input type="radio" name="color" value="orange"><span class="round orange-input"></span></label>
        <label><input type="radio" name="color" value="yellow"><span class="round yellow-input"></span></label>
        <label><input type="radio" name="color" value="green"><span class="round green-input"></span></label>
        <label><input type="radio" name="color" value="blue"><span class="round blue-input"></span></label>
        <label><input type="radio" name="color" value="violet"><span class="round violet-input"></span></label>
        <label><input type="radio" name="color" value="brown"><span class="round brown-input"></span></label>
        <label><input type="radio" name="color" value="grey"><span class="round grey-input"></span></label>
        <label><input type="radio" name="color" value="white"><span class="round white-input"></span></label>
        <label><input type="radio" name="color" value="black"><span class="round black-input"></span></label>
    </div>
    <h2>Size Range</h2>
    <div class="size-bar radio-bar">
        <label><input type="radio" name="size" value="5" required><span class="round">3-5<br>in</span></label>
        <label><input type="radio" name="size" value="17"><span class="round">5-9<br>in</span></label>
        <label><input type="radio" name="size" value="31"><span class="round">9-16<br>in</span></label>
        <label><input type="radio" name="size" value="60"><span class="round">16-32<br>in</span></label>
        <label><input type="radio" name="size" value="131"><span class="round">32-72<br>in</span></label>
    </div>
    <input class="round" type="submit" value="Submit">
</form>
<script src="{% static 'front/location.min.js' %}" ></script>
{% endblock %}